{% extends "base.html" %}

{% block content %}
<h1>{{ section.title }}</h1>

{% set current_year = "" %}
{% for page in section.pages %}
  {% set page_year = page.date | date(format="%Y") %}
  {% if page_year != current_year %}
    {% set_global current_year = page_year %}
    <h2>{{ current_year }}</h2>
  {% endif %}
  <article>
    <h3><a href="{{ page.permalink | trim_end_matches(pat='/') }}">{{ page.title }}</a></h3>
    <time>{{ page.date | date(format="%Y-%m-%d") }}</time>
  </article>
{% endfor %}
{% endblock %}
